.card{
    display: flex;
    border-radius:100px;
    border:5px solid #666;
    width: 25%; 
    height: 250px;
    border-color:rgb(167, 91, 41);    
    text-shadow: rgb(22, 21, 21);
    flex-wrap: wrap;
    justify-content: auto;
    margin: auto; 
}
.carddirection{
    display: grid;
      grid-template-columns: auto auto auto auto auto;
      justify-content:center;
      width: 80%;
      margin: auto auto;
}

.heading {
     color: #fbf8f8ed; 
     text-shadow: 2px 2px red;
}

.headingRojo {
    color: yellow;
    text-shadow: 2px 2px black;
}