*, *:before, *:after {
  box-sizing: inherit;
}


.as{
    background: url(https://i.pinimg.com/originals/8c/f0/1b/8cf01b0f5bac59468e7bd497a4f8d9d8.jpg);
    background-size: fill;
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
  
}



.welcome{
    FONT-WEIGHT: 200;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 80pc;
    top: -50px;
    border-radius: 3rem;
    font-size: 76px;
    color: white;
}

/* .infap{
    position: relative;
    left: 28pc;
    top: 100px;
    font-weight: 300;
} */

.fr {
  border: 2px solid black;
  border-radius: 3rem;
  color: black;
  font-family: roboto;
  font-size: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  left: 330px;
  top: 380px;
  height: 90px;
  background-color: orange;
}
.fr::after {
  background-color: yellow;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.fr:hover::after {
  transform: translate(0, 0);
}
.fr:hover {
  border: 2px solid black;
  color: black;
  transform: scale(1.05);
  will-change: transform;
}

