.bgfl{
    background: url(https://fondosmil.com/fondo/3555.jpg);
    background-size: cover;
    height: 1050px;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
}

.wlc{
    FONT-WEIGHT: 200;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 50pc;
    top: -50px;
    border-radius: 3rem;
    font-size: 76px;
    color: white;
}

/* .infap{
    position: relative;
    left: 28pc;
    top: 100px;
    font-weight: 300;
} */

.coolBeans {
  border: 2px solid black;
  border-radius: 3rem;
  color: black;
  font-family: roboto;
  font-size: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  left: 130px;
  top: 580px;
  height: 90px;
}
.coolBeans::after {
  background-color: greenyellow;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid black;
  color: black;
  transform: scale(1.05);
  will-change: transform;
}