.gen {
    position: relative;
    right: 259px;
}

.searchb{
    height: 36px;
    border-color: black;
    width: 300px;
}

.btn {
    color: black;
    height: 28px;
    width: 100px;
    font-size: 20px;
    border-color: yellow;
    position: relative;
    left: 1px;
    top: 1px;
    background-color: yellow;
    cursor: pointer;
}