.gen {
    position: relative;
    right: 259px;
}

.searchb{
    height: 50px;
    border-color: black;
    width: 300px;
    float: left;
    position: relative;
    bottom: 68px;
    left: 3px;
}

.btn {
    color: black;
    height: 50px;
    width: 28vh;
    font-size: 20px;
    border-color: black;
    position: relative;
    left: -1px;
    bottom: 68px;
    background-color: #2ECC71 ;
    cursor: pointer;
    float: left;
}